<div class="container" data-aos="fade-up">
    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <table  > 
         <tr> 
           <td>
            <div class="col-xl-12 col-md-6">
                <h3>
                  <label style="color: #737171; text-align: center;">
                     TEST PARA MEDIR PRINCIPIOS RECTORES DE TODO PROGRAMA, CURSO O TRAYECYO FORMATIVO ORIENTADOS ALA CAPACITACIÓN DIGITAL
                  </label>
                </h3>
              </div>          
              <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td class="titulo" colspan="2">Pertinente</td>
                     </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn11">Si</mat-radio-button></td>  <td><mat-radio-button value="btn12">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>1.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta su rol? Por ejemplo, tiene una orientación diferente cuando es para directivos o coordinadores de la que tiene para docentes.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn21">Si</mat-radio-button></td>  <td><mat-radio-button value="btn22">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>2.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta su área de formación? Por ejemplo, ¿tiene una orientación diferente para los docentes de artes de la que tiene para los de matemáticas y ciencias? Es decir, presentan aproximaciones diferenciadas para que los docentes entren en contacto con aplicaciones especificas para su campo de formación o área de desempeño.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn31">Si</mat-radio-button></td>  <td><mat-radio-button value="btn32">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>3.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta el nivel educativo en el que enseñan? Por ejemplo, están diseñados específicamente para docentes de educación básica para docentes que hacen investigación con estudiantes de posgrado o para docentes de preescolar.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn41">Si</mat-radio-button></td>  <td><mat-radio-button value="btn42">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>4.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta sus saberes previos? Por ejemplo, se consideró el momento en el que se encuentran los docentes en el desarrollo de sus competencias y la preparación y conocimientos que ya tienen los docentes.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn51">Si</mat-radio-button></td>  <td><mat-radio-button value="btn52">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>5.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta los recursos con los que cuentan? Por ejemplo, utilizan software que estará fácilmente disponible para los docentes después de la formación.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn61">Si</mat-radio-button></td>  <td><mat-radio-button value="btn62">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>6.- ¿El proceso de desarrollo profesional atiende los intereses y necesidades de los docentes teniendo en cuenta el contexto cultural en el que se desenvuelven? Por ejemplo, están pensados para escuelas rurales que usan metodologías diversas o para estudiantes que hablan otra lengua.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn71">Si</mat-radio-button></td>  <td><mat-radio-button value="btn72">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>7.- ¿Los programas de desarrollo profesional apuntan a mejorar el aprendizaje de los estudiantes? Esto quiere decir que la formación no solo busca el mejoramiento de las competencias de docente, sino finalmente va enfocada a que el docente aplique lo aprendido tanto para su beneficio como para el de sus estudiantes.</td>
                    </tr>
                    <tr>
                        <td class="titulo" colspan="2">Práctico</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn81">Si</mat-radio-button></td>  <td><mat-radio-button value="btn82">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>8.- ¿Los docentes van a aprender utilizando directamente las TIC? Por ejemplo, durante el proceso de desarrollo profesional cada educador tiene a su disposición una computadora o dispositivo con el software y la conectividad necesarios.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn91">Si</mat-radio-button></td>  <td><mat-radio-button value="btn92">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>9.- ¿Los docentes van a tener la posibilidad de explorar las herramientas de manera vivencial? Por ejemplo, los docentes van a ir probando lo que van aprendiendo, haciendo ejercicios por si mismos y ensayando sus propias ideas con las herramientas que están aprendiendo a usar.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn101">Si</mat-radio-button></td>  <td><mat-radio-button value="btn102">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>10.- ¿Los docentes van a poder aplicar lo aprendido en situaciones cotidianas de su profesión? Por ejemplo, para preparar alguna de sus clases para aplicar en sus investigaciones o para hacer gestión escolar.</td>
                    </tr>
                    <tr>
                        <td class="titulo" colspan="2">Situado</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn111">Si</mat-radio-button></td>  <td><mat-radio-button value="btn112">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>11.- ¿Los procesos de desarrollo profesional se concentran en la institución educativa y en el aula, abordando la didáctica? Por ejemplo, durante la formación los docentes planearán actividades de enseñanza y aprendizaje a desarrollar con sus estudiantes.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn121">Si</mat-radio-button></td>  <td><mat-radio-button value="btn122">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>12.- ¿Se brindará un acompañamiento a los docentes durante la formación? Por ejemplo, está prevista una mesa de ayuda o un tutor presencial o virtual al que los docentes puedan recurrir en caso de dudas, o puedan tener como modelo, o que simplemente brinde apoyo en la aplicación en contexto de lo aprendido.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn131">Si</mat-radio-button></td>  <td><mat-radio-button value="btn132">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>13.- ¿Se dará acompañamiento a los docentes, que los lleve a la transformación de sus prácticas, después de la formación? Por ejemplo, está prevista la continuación de la mesa de ayuda o tutores como se describen en la pregunta anterior.</td>
                    </tr>
                    <tr>
                        <td class="titulo" colspan="2">Colaborativo</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn141">Si</mat-radio-button></td>  <td><mat-radio-button value="btn142">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>14.- ¿Los procesos de desarrollo profesional facilitan el aprendizaje conjunto? Por ejemplo, hay momentos para aprender junto con otros a través de dinámicas grupales o de recibir realimentación de los compañeros.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn151">Si</mat-radio-button></td>  <td><mat-radio-button value="btn152">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>15.- ¿Los procesos de desarrollo profesional facilitan la creación colectiva? Por ejemplo, con ejercicios que requieran unir fuerzas para lograr una meta o diseñando actividades, estrategias o productos en los que el resultado de las participaciones genere resultados mayores a la suma de las contribuciones individuales o a través del uso de herramientas como wikis y documentos compartidos.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn161">Si</mat-radio-button></td>  <td><mat-radio-button value="btn162">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>16.- ¿Los procesos de desarrollo profesional facilitan el intercambio entre pares y la participación en redes y comunidades de práctica? Conteste que sí, únicamente si el intercambio o la participación en redes tiene la intención de permanecer en el tiempo.</td>
                    </tr>
                    <tr>
                        <td class="titulo" colspan="2">Inspirador</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn171">Si</mat-radio-button></td>  <td><mat-radio-button value="btn172">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>17.- ¿Los procesos de desarrollo profesional incitan la imaginación? Por ejemplo, se invita a los participantes a pensar en diversas alternativas, proponer soluciones múltiples a un problema, ponerse en los zapatos de los otros y describir el mundo desde otras perspectivas o conjeturar posibilidades futuras.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn181">Si</mat-radio-button></td>  <td><mat-radio-button value="btn182">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>18.- ¿Los procesos de desarrollo profesional fomentan la exploración? Por ejemplo, se comparten herramientas o metodologías que ayudan a encontrar nuevas ideas y hay tiempo destinado a que cada uno investigue asuntos relacionados con lo que se está aprendiendo, pero profundizando en un aspecto particular de su propio interés, que puede ser diferente al de otras personas tomando el mismo curso</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn191">Si</mat-radio-button></td>  <td><mat-radio-button value="btn192">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>19.- ¿Los procesos de desarrollo profesional favorecen la reflexión? Por ejemplo, hay oportunidades para compartir las actividades que realizan y las ideas que tienen con compañeros y pares de manera presencial o virtual en las que discuten sus estrategias y reciben realimentación que los llevan a considerarcambios a sus planes o planteamientos iniciales.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn201">Si</mat-radio-button></td>  <td><mat-radio-button value="btn202">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>20.- ¿Los procesos de desarrollo profesional promueven el pensamiento crítico? Por ejemplo, analizando cómo interactúan las partes con el todo para producir resultados complejos o interpretando información contradictoria de múltiples fuentes a partir de la evaluación de evidencias, argumentos y creencias.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn211">Si</mat-radio-button></td>  <td><mat-radio-button value="btn212">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>21.- ¿Los procesos de desarrollo profesional estimulan la creatividad? Por ejemplo, adaptando ideas a su propio contexto y combinando diversidad de lenguajes, medios y herramientas tecnológicas para crear algo nuevo, teniendo en cuenta que la primera versión no es necesariamente la final, sino que probablemente hay que experimentar y hacer ajustes a lo largo del camino.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn221">Si</mat-radio-button></td>  <td><mat-radio-button value="btn222">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>22.- ¿Los procesos de desarrollo profesional desarrollan los talentos de cada uno de los participantes? Por ejemplo, hay variedad de opciones que llaman la atención tanto a los que prefieren espacios cerrados como a los que funcionan mejor al aire libre, a los que procesan más fácilmente información auditiva como a los que se les facilita la presentación visual o escrita.</td>
                    </tr>
                    <tr>
                        <td><mat-radio-group (change)="onChange($event)" aria-label="Selecciona una opción"> <table><tr><td><mat-radio-button value="btn231">Si</mat-radio-button></td>  <td><mat-radio-button value="btn232">No</mat-radio-button></td></tr></table></mat-radio-group></td>
                        <td>23.- ¿Los procesos de desarrollo profesional fomentan el deseo de aprender a aprender? Por ejemplo, el programa está hechù para motivar a los docentes a continuar aprendiendo por su cuenta después de la culminación del proceso formal ya sea con materiales entregados durante la formación o con recursos que han aprendido a encontrar como tutoriales en línea.</td>
                    </tr>
                </tbody>
            </table>
            
        </td>
    </tr>
</table>
<br/><br/><br/><br/>
<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-6">
        <button type="button" (click)="evaluar()" class="btn btn-lg btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-6 col-md-6">
        <table>
            <thead>
                <tr>
                    <td>El Programa de Capacitación es…</td>
                    <td>Valoración</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pertinente</td>
                    <td>{{pertinente}}</td>
                </tr>
                <tr>
                    <td>Práctico</td>
                    <td>{{practico}}</td>
                </tr>
                <tr>
                    <td>Situado</td>
                    <td>{{situado}}</td>
                </tr>
                <tr>
                    <td>Colaborativo</td>
                    <td>{{colaborativo}}</td>
                </tr>
                <tr>
                    <td>Inspirador</td>
                    <td>{{inspirador}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-6">
      
    </div>
  </div>
</div>
