<button (click) ="cambia()" style="display: none;" name="btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Usted se encuentra en el Nivel {{name}} de esta competencia
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
       </div>
    </div>
  </div>
</div>
<div class="container" data-aos="fade-up">
  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-12 col-lg-12">
      <br>
      <br>
      <br>
      <table>
        <tr>
          <td><img src="../assets/img/wallpaper.png" style="width: 350px; margin-left: -50px;"/></td>
          <td><h1>Modelo de Capacitación Digital Docente.</h1></td>
          <td><img src="../assets/img/wallpaper2.png" style="width: 300px; margin-right: -300px;"/></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
    <div class="col-xl-4 col-md-6">
      <div class="icon-box">
        <h3><a routerLink="/employees">Ubicación en el Modelo de Capacitación Digital Docente
        </a></h3>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="icon-box">
        <h3><a routerLink="/test-valoracion-capacitacion">Test para valorar un programa de  capacitación (curso, taller, diplomado)
        </a></h3>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
